html {background-color:#ED5E0C}
h1 {text-align:center;
    font-family:'Roboto Condensed'}
p {
    text-align:left;
    font-family: 'Quicksand';
    font-size: .5em;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 150px;
}

img {
    width:300px; 
    height:300px;
    border-radius:30px;
    border-color:#FFFFFF;
    margin:auto;
    display:block;
}

/* div {
    display:inline-block; ----- this puts buttons in a row, which is what i want, but it is not centered
} */

.buttons {
    font-family:'Montserrat';
    font-size:1.25em;
    display:inline-block
    height:50px;
    width:100px;
    border-color:#6495ed;
    background-color:#FFB347;
    border-radius:5px;
    margin:auto;
    text-align:center;
  }
a {
    text-decoration:none;
    color: #2E5894
}
